.rating-container {
    margin-bottom: 20px;
}

.change-station-container {
    width: 350px;
    border-radius: 10px;
    border: 1px solid #AAAAAA;
    padding: 30px;
  }

.change-station-container h2 {
    text-align: center;
  }

.change-station-container input[type="text"],
.change-station-container input[type="number"]{
    display: block;
    width: calc(100% - 20px); /* 100% minus padding(left & right) */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #AAAAAA;
    border-radius: 5px;
  }

button {
    display: block;
    width: 400px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .change-station-container button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }