<div class="admin-model-container">
    <p><strong>Model id:</strong> {{model.model_id}}</p>
    <p><strong>Name:</strong> {{model.name}}</p>
    <p><strong>Category id:</strong> {{model.category_id}}</p> 
    <p><strong>Description:</strong> {{model.description}}</p> 
    <p><strong>Wheel Size:</strong> {{model.wheel_size}}</p> 
    <p><strong>Manufacturer:</strong> {{model.manufacturer}}</p> 
    <p><strong>Brake type:</strong> {{model.brake_type}}</p> 
    <p><strong>Price per hour:</strong> {{model.price}}</p> 

    <button (click)="onModelDelete(model.model_id); $event.stopPropagation()">Delete</button>

    <div *ngIf="message" class="message">
        {{ message }}
    </div>
</div>
