.admin-model-container {
    width: 350px;
    border-radius: 10px;
    border: 1px solid #AAAAAA;
    padding: 30px;
    margin-bottom: 10px;
  }

.admin-model-container:hover {
  cursor: pointer;
}

.admin-model-container button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  background-color: blue;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}